<!doctype html>
<head>

    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">

    <title>Classify3D</title>

</head>

<body>
	<div class="main">
    <h1> Classify3D! </h1>
    <h2> This is Dong Zhang's Insight Project </h2>
    <p></p>
    <h2> Please Select a Point Cloud 3D Image </h2>
    </div>
    <div class='search_box'>
    <form method=post enctype=multipart/form-data>
      <input type=file name=selectedfile>
      <input type=submit value=Upload>
    </form>
</div>
</body>
